@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Coffity</title>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/style.css")" asp-append-version="true" />

    
</head>
<body>
<div>
    <div class="TopBar">
        <div class="flex">
            <a href="/">
                <button>< Go back</button>
            </a>
        </div>
        <h1 class="Logo">Coffity &#9749; </h1>
    </div>
    
    

    @{
       var coffee = ViewBag.coffe as (int, string, string, string, string, string, List<string>, int)?;
   }
   
   @if (coffee != null)
   {
       <div class="CoffeeDesc">
           <div>
               <h2 class="CategoryHeader text-center">@coffee?.Item2</h2>
                          <img src="@coffee?.Item3" alt="@coffee?.Item2" class="CoffeeDescImg">
           </div>
           
           <div class="CoffeeDescText">
               <h3>Description:</h3>
               <p>@coffee?.Item4</p>
               <h3>Ingredients:</h3>
               <p>@coffee?.Item5</p>
               <h3>Recipe:</h3>
               <p>@coffee?.Item6</p>
               <h4>Categories:</h4>
               <div class="flex">
                   @foreach (string cat in coffee?.Item7)
                   {
                       <a href="category/@cat"><button>@cat</button></a>
                   }
               </div>
               <h4>Likes:</h4>
               <p>@coffee?.Item8</p>
               @if (ViewBag.logged) {
                   <form asp-controller="AppController" asp-action="HandleLikeCoffe" action="/coffe/like" method="post">
                       <div>
                           <input type="hidden" name="coffe_id" value="@coffee?.Item1"/>
                           <input name="like" type="checkbox" checked="@ViewBag.userLikesCoffe"/>
                           <button type="submit">Zapisz</button>
                       </div>
                   </form>
               }
               else {
                   <p>Log int to like this coffe</p>
               }
           </div>
       </div>
    }
    else
    {
        <p>No coffee details available.</p>
    }
    
</div>
</body>
</html>