@page
@model lab10.Controllers.Coffe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Coffity</title>
</head>
<body>
<div>
    <h1>Coffity</h1>
    
    <a href="/">< Go back</a>

    @{
       var coffee = ViewBag.coffe as (int, string, string, string, string, string, List<string>)?;
   }
   
   @if (coffee != null)
   {
        <div>
            <h2>@coffee?.Item2</h2>
            <img src="@coffee?.Item3" alt="@coffee?.Item2">
            <h3>Description:</h3>
            <p>@coffee?.Item4</p>
            <h3>Ingredients:</h3>
            <p>@coffee?.Item5</p>
            <h3>Recipe:</h3>
            <p>@coffee?.Item6</p>
            <h4>Categories:</h4>
            <ul>
                @foreach (string cat in coffee?.Item7)
                {
                    <li>
                        <a href="category/@cat">@cat</a>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p>No coffee details available.</p>
    }
    
</div>
</body>
</html>