@{
    Layout = null;
}

@* <!DOCTYPE html> *@

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="/">< Go back</a>
    
    <h2>Register</h2>
    
    
    
    <form  asp-controller="AppController" asp-action="Register" action="/register" method="post">
        <div>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" />
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" />
        </div>
        <br/>
        <div>
            <button type="submit">Zarejestruj</button>
        </div>
    </form>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

</div>
</body>
</html>
