* {
    box-sizing: border-box;
    margin:0;
}
:root {
    --primary: #613529;
    --secondary: #C38154;
    --contrast: #FFC26F;
    --background: #F9E0BB;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    background-color: var(--background);
    color: var(--primary);
}

input[type="checkbox"] {
    text-decoration: none;
    width:1.25rem;
    height:1.25rem;
}


     /* CSS */
 button {
     align-items: center;
     background-clip: padding-box;
     background-color: #fa6400;
     border: 1px solid transparent;
     border-radius: .25rem;
     box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin: 0.25rem;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     width: max-content;
 }

button:hover,
button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.TopBar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
}

.Logo {
}

.FilterWrapper {
    display:flex;
    flex-direction: column;
    padding-left: 1rem;
}
.FilterDesc {
    display:flex;
    
    padding:0.5rem;
}

.CategoryHeader {
    padding-left:1.5rem;
    padding-top:1rem;
    font-size:2rem;
}

.CardList {
    display:flex;
    flex-wrap:wrap;
    align-items: baseline;
    margin-right:2rem;
}
.CoffeeCardList {
    display:flex;
    flex-wrap:wrap;
    align-items: baseline;
    justify-content: center;
    margin-right:2rem;
}

.Card {
    display:flex;
    align-items: stretch;
    padding:1.5rem;
    margin:1rem;
    background-color: var(--contrast);
    font-size:1.5rem;
    border-radius: 3px;
}

.CoffeeCard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:1rem;
    background-color: var(--contrast);
    width: 13%;
    height: auto;
    font-size:1.1rem;
    border: 0.2px solid black;
    border-radius: 3px;
}
.CoffeeCard:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    transform: scale(1.1);
    transition: 0.5s;
}

.CoffeImage {
    width:100%;
    height:10rem;
}

.CoffeeDesc {
    margin-top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.CoffeeDescText {
    padding: 1rem;
    font-size:1.25rem;
}

.CoffeeDescImg {

}

.flex {
    display:flex;
    align-items: center;
}

.text-center {
    text-align: center;
}
