@page
@model lab10.Controllers.Data

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="/panel">Back to panel</a>
    <h1>
        Data
    </h1>
    <ul>
        @for (var i=0; i < ((List< (int,string)>)ViewBag.Data).Count; i++) {
            <li>
                @(((ValueTuple<int, string>)ViewBag.Data[i]).Item2) &nbsp;
                <form asp-controller="AppController" asp-action="HandleDeleteDataForm" action="/data/delete" method="post">
                    <input type="hidden" id="id" name="id" value="@(((ValueTuple<int, string>)ViewBag.Data[i]).Item1) "/>
                    <div>
                        <button type="submit">Usuń</button>
                    </div>
                </form>
            </li>
        }
    </ul>

    <h3>
        Add new
    </h3>
    <form asp-controller="AppController" asp-action="HandleAddDataForm" action="/data/add" method="post">
        <div>
            <label for="new_data">New data:</label>
            <input type="text" id="new_data" name="new_data"/>
        </div>
        <br/>
        <div>
            <button type="submit">Dodaj</button>
        </div>
    </form>
</div>
</body>
</html>